## Deliverable 2. Create a Customer Travel Destinations Map.

In [91]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from pprint import pprint

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [92]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Pindiga,NG,9.98,10.93,21.09,89.0,82.0,2.75,broken clouds
1,Surt,LY,31.21,16.59,22.69,67.0,0.0,3.81,clear sky
2,Hobart,AU,-42.88,147.33,12.25,59.0,20.0,1.79,few clouds
3,Ushuaia,AR,-54.80,-68.30,6.81,61.0,75.0,9.77,broken clouds
4,Yellowknife,CA,62.46,-114.35,7.45,77.0,75.0,1.79,broken clouds

In [93]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your minimum temperature?"))
max_temp = float(input("What is your Maximum temperature?"))

What is your minimum temperature?20
What is your Maximum temperature?40

In [100]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
good_temp = city_data_df.loc[((city_data_df["Max Temp"]) <= max_temp) & ((city_data_df["Max Temp"]) >= min_temp)]
good_temp.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Pindiga,NG,9.98,10.93,21.09,89.0,82.0,2.75,broken clouds
1,Surt,LY,31.21,16.59,22.69,67.0,0.0,3.81,clear sky
5,Vaini,TO,-21.20,-175.20,23.09,94.0,75.0,5.14,broken clouds
6,Mahebourg,MU,-20.41,57.70,22.16,83.0,75.0,5.14,broken clouds
7,Carnarvon,AU,-24.87,113.63,21.04,64.0,40.0,5.66,scattered clouds

In [101]:
# 4a. Determine if there are any empty rows.
good_temp.isnull().sum()

City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [102]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# We do not have empty rows in our case. 
clean_df = good_temp

In [103]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Pindiga,NG,21.09,broken clouds,9.98,10.93,
1,Surt,LY,22.69,clear sky,31.21,16.59,
5,Vaini,TO,23.09,broken clouds,-21.20,-175.20,
6,Mahebourg,MU,22.16,broken clouds,-20.41,57.70,
7,Carnarvon,AU,21.04,scattered clouds,-24.87,113.63,
9,Kamarion,GR,21.53,clear sky,36.80,25.82,
11,Atuona,PF,25.42,light rain,-9.80,-139.03,
12,Auriflama,BR,26.49,scattered clouds,-20.69,-50.55,
20,Bambous virieux,MU,22.14,broken clouds,-20.34,57.76,
23,Pandaria,IN,23.89,overcast clouds,22.23,81.42,

In [104]:
# TESTING TESTING TESTING 
# -----------------------------------------------------

lat =hotel_df["Lat"][0]
lng = hotel_df["Lng"][0]
geocode = f"{lat},{lng}"
    
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

params["location"] = geocode

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
response = requests.get(base_url, params).json()
#pprint(response)

response["results"][0]["name"]

# -----------------------------------------------------
# TESTING TESTING TESTING

'Accommodation Center'

In [105]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    geocode = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    params["location"] = geocode
    
    # 6e. Make request and retrieve the JSON data from the search. 
    response = requests.get(base_url, params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    
    except: 
        print("No result was found. Skipping...")
        pass

No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...
No result was found. Skipping...

In [120]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]

In [121]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [133]:
# Editing column name "Current Description" to "Weather Description" in order to allow following codes block to run.
clean_hotel_df.rename(columns={"Current Description":"Weather Description"}, inplace = True)

/Users/jinike/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:5042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [134]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [135]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))