In [1]:
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
# Create a set of random latitude and longitude combinations 
lats = np.random.uniform(-90, 90, size = 2000)
lngs = np.random.uniform(-180, 180, size = 2000)
lat_lngs = zip(lats, lngs)

In [3]:
# Adding latitudes and longitudes to a list
coordinates = list(lat_lngs)

In [4]:
# Use the citipy module to determine city based on latitude and longitude.
city_name = []
country_code = []

# Dependency
from citipy import citipy

# Iterate through each of coordinate, and find its nearest city and country code. 
# This code will only record one city when there are duplicates. 
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    if city not in city_name:
        city_name.append(city)
        country_code.append(citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

In [5]:
# |TESTING TESTING TESTING TESTING TESTING           |
# |__________________________________________________|

# Import request library
import requests 

# Import the API key
from config import weather_api_key

base_url = "http://api.openweathermap.org/data/2.5/weather?q="

city_url = f"{base_url}{city_name[0]}&units=metric&appid={weather_api_key}"

response = requests.get(city_url).json()
#pprint(response)

# Latitude and longitude
lng = response["coord"]["lon"]
lat = response["coord"]["lat"]

# Maximum temperature
max_temp = response["main"]["temp_max"]

# Percent humidity
humidity = response["main"]["humidity"]

# Percent cloudiness
cloudiness = response["clouds"]["all"]

# Wind speed
speed = response["wind"]["speed"]

# Weather description (for example, clouds, fog, light rain, clear sky)
description = response["weather"][0]["description"]

# Print to ensure if all data were pulled
print(f"{lng}, {lat}, {max_temp}, {humidity}, {cloudiness}, {speed}, {description}")

# ---------------------------------------------------
response

10.9333, 9.9833, 21.09, 89, 82, 2.75, broken clouds

{'coord': {'lon': 10.9333, 'lat': 9.9833},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 21.09,
  'feels_like': 21.58,
  'temp_min': 21.09,
  'temp_max': 21.09,
  'pressure': 1012,
  'humidity': 89,
  'sea_level': 1012,
  'grnd_level': 952},
 'visibility': 10000,
 'wind': {'speed': 2.75, 'deg': 212, 'gust': 7.89},
 'clouds': {'all': 82},
 'dt': 1632616425,
 'sys': {'country': 'NG', 'sunrise': 1632632706, 'sunset': 1632676201},
 'timezone': 3600,
 'id': 2324857,
 'name': 'Pindiga',
 'cod': 200}

In [6]:
# Creating a dataframe. 
df = pd.DataFrame()
df["City"] = city_name
df["Country"] = country_code
df["Lat"] = ""
df["Lng"] = ""
df["Max Temp"] = ""
df["Humidity"] = ""
df["Cloudiness"] = ""
df["Wind Speed"] = ""
df["Current Description"] = ""

In [7]:
# Iterration begins here

base_url = "http://api.openweathermap.org/data/2.5/weather?q="

for index,row in df.iterrows():
    try:
        city = row["City"].capitalize()
        row["City"] = city
        
        country = row["Country"].upper()
        row["Country"] = country
        
        url = f"{base_url}{city}&units=metric&appid={weather_api_key}"
        response = requests.get(url).json()
        df.loc[index, "Lng"] = response["coord"]["lon"]
        df.loc[index, "Lat"] = response["coord"]["lat"]
        df.loc[index, "Max Temp"] = response["main"]["temp_max"]
        df.loc[index, "Humidity"] = response["main"]["humidity"]
        df.loc[index, "Cloudiness"] = response["clouds"]["all"]
        df.loc[index, "Wind Speed"] = response["wind"]["speed"]
        df.loc[index, "Current Description"] = response["weather"][0]["description"]
    
    except:
        print(f"No result found - Skipping index {index}, city name: {city}, {country}")
        pass

No result found - Skipping index 13, city name: Illoqqortoormiut, GL
No result found - Skipping index 15, city name: Taolanaro, MG
No result found - Skipping index 21, city name: Belushya guba, RU
No result found - Skipping index 54, city name: Sahrak, AF
No result found - Skipping index 86, city name: Kobojango, BW
No result found - Skipping index 87, city name: Samalaeulu, WS
No result found - Skipping index 90, city name: Barentsburg, SJ
No result found - Skipping index 91, city name: Grand river south east, MU
No result found - Skipping index 93, city name: Mochitlan, MX
No result found - Skipping index 101, city name: Blonduos, IS
No result found - Skipping index 113, city name: Amderma, RU
No result found - Skipping index 123, city name: Alotau, PG
No result found - Skipping index 134, city name: Arkalokhorion, GR
No result found - Skipping index 151, city name: Dinsor, SO
No result found - Skipping index 158, city name: Stamsund, NO
No result found - Skipping index 186, city name: Wulanhaote, CN
No result found - Skipping index 195, city name: Fort saint john, CA
No result found - Skipping index 198, city name: Mys shmidta, RU
No result found - Skipping index 222, city name: Saleaula, WS
No result found - Skipping index 231, city name: Sentyabrskiy, RU
No result found - Skipping index 232, city name: Mankovo-kalitvenskoye, RU
No result found - Skipping index 246, city name: Karamay, CN
No result found - Skipping index 247, city name: Samusu, WS
No result found - Skipping index 249, city name: Solovetskiy, RU
No result found - Skipping index 252, city name: Chaa-khol, RU
No result found - Skipping index 256, city name: Rungata, KI
No result found - Skipping index 259, city name: Tumannyy, RU
No result found - Skipping index 292, city name: Marcona, PE
No result found - Skipping index 309, city name: Kawana waters, AU
No result found - Skipping index 313, city name: Nizhneyansk, RU
No result found - Skipping index 314, city name: Umzimvubu, ZA
No result found - Skipping index 327, city name: Toliary, MG
No result found - Skipping index 337, city name: Huazolotitlan, MX
No result found - Skipping index 344, city name: Ksenyevka, RU
No result found - Skipping index 351, city name: Palabuhanratu, ID
No result found - Skipping index 362, city name: Tsihombe, MG
No result found - Skipping index 400, city name: Yunjinghong, CN
No result found - Skipping index 417, city name: Maghama, MR
No result found - Skipping index 423, city name: Falaleu, WF
No result found - Skipping index 428, city name: Kamenskoye, RU
No result found - Skipping index 445, city name: Ruatoria, NZ
No result found - Skipping index 472, city name: Vaitupu, WF
No result found - Skipping index 473, city name: Haibowan, CN
No result found - Skipping index 499, city name: Nguiu, AU
No result found - Skipping index 511, city name: Plaiesii-de-jos, RO
No result found - Skipping index 516, city name: Lolua, TV
No result found - Skipping index 517, city name: Labutta, MM
No result found - Skipping index 543, city name: Burica, PA
No result found - Skipping index 549, city name: Urdzhar, KZ
No result found - Skipping index 553, city name: Attawapiskat, CA
No result found - Skipping index 583, city name: Ngukurr, AU
No result found - Skipping index 604, city name: Sorvag, FO
No result found - Skipping index 605, city name: Warqla, DZ
No result found - Skipping index 609, city name: Dien bien, VN
No result found - Skipping index 610, city name: Pakwach, UG
No result found - Skipping index 617, city name: Zhanatas, KZ
No result found - Skipping index 620, city name: Bojaya, CO
No result found - Skipping index 635, city name: Kazalinsk, KZ
No result found - Skipping index 643, city name: Jiddah, SA
No result found - Skipping index 647, city name: Stekolnyy, RU
No result found - Skipping index 656, city name: Mirina, GR
No result found - Skipping index 664, city name: Bargal, SO
No result found - Skipping index 710, city name: Tiruvottiyur, IN
No result found - Skipping index 721, city name: Mergui, MM
No result found - Skipping index 722, city name: Matir, TN
No result found - Skipping index 724, city name: Karkaralinsk, KZ

In [8]:
# Fixinng format for lat and lng columns

df["Lat"] = pd.to_numeric(df["Lat"]).map("{:.2f}".format)
df["Lng"] = pd.to_numeric(df["Lng"]).map("{:.2f}".format)

In [9]:
# Exporting new DataFrame as a CSV file. 

to_file = "WeatherPy_Database.csv"
df.to_csv(to_file, index = False)

In [10]:
df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Pindiga,NG,9.98,10.93,21.09,89,82,2.75,broken clouds
1,Surt,LY,31.21,16.59,22.69,67,0,3.81,clear sky
2,Hobart,AU,-42.88,147.33,12.25,59,20,1.79,few clouds
3,Ushuaia,AR,-54.80,-68.30,6.81,61,75,9.77,broken clouds
4,Yellowknife,CA,62.46,-114.35,7.45,77,75,1.79,broken clouds
...,...,...,...,...,...,...,...,...,...
762,Honiara,SB,-9.43,159.95,29.84,70,84,2.78,broken clouds
763,Zima,RU,53.92,102.04,2.6,71,88,1.36,overcast clouds
764,Tecpan,MX,14.76,-90.99,16.62,96,99,1.29,overcast clouds
765,Mutare,ZW,-18.97,32.67,12.61,66,0,1.14,clear sky
766,Binga,CD,-17.62,27.34,20.14,40,0,1.09,clear sky